Backend/config/secrets.php
Backend/vendor/
Backend/PHPMailer-master/

# Sensitive data
.env

# Backend files
.htaccess

# Database/Design files
*.lo1
*.loo

*.jpg

chatbot.md

chatbot.css

MCD_SmartBite.png

chatbot.js

Database