Backend/config/secrets.php
Backend/vendor/
Backend/PHPMailer-master/

# Sensitive data
.env
# Backend files
.htaccess


# *.jpg images are part of the frontend menu, so do not ignore them
# *.jpg


chatbot.css
chatbot.js
MCD_SmartBite.png
Database